<div class="row">
  <div class="col-md-5 col-md-offset-3 text-center">

    <h2>Edit my profile</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.text_field :firstname, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "First name" %>
      </div>

      <div class="form-group">
        <%= f.text_field :lastname, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Last name" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "New password (if you wish to change it)" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm your new password" %>
      </div>

      <div class="form-group">
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Enter current password (to confirm all changes)" %>
      </div>

      <div class="actions">
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>