<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item">
        <%= link_to 'Edit my profile', edit_user_registration_path, class: "sidebar-link active" %>
      </li>
    </ul>
    <br />
    <%= link_to 'See my profile', user_path(current_user.id), class: "btn btn-default wide1" %>
  </div>
  <div class="col-md-7 text-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        My Profile
      </div>
      <div class="panel-body">
        <div class="container">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.text_field :firstname, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "First name" %>
            </div>

            <div class="form-group">
              <%= f.text_field :lastname, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Last name" %>
            </div>

            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <span class="btn btn-default btn-file">
                    Upload my photo
                    <%= f.file_field :avatar %>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone number" %>
            </div>            

            <div class="form-group">
              <%= f.text_area :description, rows: 5, col: 25, class: "form-control", placeholder: "About me" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "New password (if you wish to change it)" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm your new password" %>
            </div>

            <div class="actions">
              <%= f.submit "Save", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>